@model IEnumerable<development_pathways.Models.Village>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">List of Villages</h1>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary">Create New Village</a>
        </div>
    </div>
    @{
        if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.VillageCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VillageName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubLocation)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.VillageCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VillageName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubLocation.SubLocationCode)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.VillageId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.VillageId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.VillageId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Village exists</p>
        }
    }
</div>